In [2]:
import numpy as numpy
import pandas as pd

In [6]:
data = pd.read_csv('/workspaces/Learning-Machine-Learning/Datasets/play_tennis.csv')
data.head()
data.drop(columns=['day'], inplace=True)

In [7]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [9]:
#Problem 1
#Outlook = Sunny, Tenp = Hot, Humdity = High, Wind = Weak
#Play or No Play?

In [12]:
#Solution
#P(Yes | Sunny, Hot, High, Weak) = P(Sunny|Yes)* P(Hot|Yes)*P(High|Yes)*P(High|Yes)*P(Weak|Yes)*P(Yes)
#Solution
#P(No | Sunny, Hot, High, Weak) = P(Sunny|No)* P(Hot|No)*P(High|No)*P(High|No)*P(Weak|No)*P(No)
#Compare and decide using the MAP rule

In [ ]:
#Training
#Lookup Table (Dictionary) (Set of probabilities)
#Testing

In [13]:
#P(YES)
#P(NO)

In [16]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [18]:
Py = 9/14
Pn = 5/14

In [19]:
#Outlook
pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [21]:
pOn = 0
pRn = 2/5
pSn = 3/5

pOy = 4/9
pRy = 3/9
pSy = 2/9

In [22]:
#temp
pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [23]:
pCoolNo = 1/5
pHotNo = 2/5
pMildNo = 2/5

pCoolYes = 3/9
pHotYes = 2/9
pMildYes = 4/9

In [24]:
#Humadity
pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [25]:
pHighNo = 4/5
pNormalNo = 1/5
pHighYes = 3/9
pNormalYes = 6/9

In [26]:
#Wind
pd.crosstab(data['wind'], data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [27]:
pStrongNo = 3/5
pWeakNo = 2/5

pStrongYes = 3/9
pWeakYes = 6/9

In [30]:
Pyes = Py*pSy*pHotYes*pHighYes*pWeakYes
print(Pyes)

0.007054673721340388

In [33]:
Pno = Pn*pSn*pHotNo*pHighNo*pWeakNo
print(Pno)

0.02742857142857143

In [34]:
#No play