In [2]:
import pandas as pd 
import requests

In [7]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [19]:
df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count'] ]

In [20]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,26.9801,8.713,29348
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,25.4894,8.685,22144
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,17.0190,8.571,13387
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,12.9401,8.566,16903
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,9.8146,8.500,9579

In [17]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [22]:
for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count'] ]
    df = pd.concat([df, temp_df], ignore_index=True)

In [24]:
df.shape

(8580, 7)

In [25]:
df.to_csv('moviews.csv')